body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#idea-submit {
  background-color: #e5f3f2;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: #00a79d;
  /*height: 30px;*/
  margin: 20px 0;
}

.submit {
  width: 85%;
  margin: 10px 0;
  font-size: 20PX;
  width: 85%;
  border: 1px solid #c7c7cd;
}

.body-input {
  resize: none;
}

.save-button {
  background-color: #00a79d;
  border: none;
  color: #ffffff;
  font-size: 20px;
}


h1 span {
  color: #6d6e71;
}

#idea-list {
  height: 50%;
  /*display: flex;*/
  text-align: center;
  /*flex-direction: column;*/
  /*align-content: center;*/
  overflow: scroll;
}

.idea-card .button {
  height: 100px;
  width: 100px;
  background-image: url('../images/ideabox-sprite.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}

.delete {
  background-position: 0px 0px;
}

.search-container {
  text-align: center;
}

.search-input {
  margin-bottom: 10px;
}

.idea-card {
  text-align: left;
  width: 85%;
  border-bottom: 1px dotted red;
  color: #939598;
  margin: auto;
}

.idea-card h2{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #6d6e71;
  margin: 10px 0;
}

.idea-card p {
  height: 60px;
  text-overflow: clip;
}

.quality {
  margin-bottom: 15px;
}
