body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#idea-submit {
  background-color: #e5f3f2;
  height: 50%;
  flex-wrap: wrap;
  text-align: center;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: #00a79d;
  margin: 20px 0 15px 0;
}

#body-input {
  border: none;
  resize: none;
  width: 85%;
  border: 1px solid #c7c7cd;
  font-size: 20PX;
}

#save-button {
  background-color: #00a79d;
  border: none;
  color: #ffffff;
  font-size: 20px;
}

#title-input {
  border: 1px solid #c7c7cd;
  font-size: 20px;

}

input {
  width: 85%;
  margin: 5px 0;
}


h1 span {
  color: #6d6e71;
}

form {

}
